body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7F7F7
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbar {
  background-color: #F7F7F7;
}

#goal-dashboard {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  width: 65%;
}

#goal-dashboard main {
  margin-bottom: 2em;
}

#goal-dashboard main button {
  margin-bottom: 2em;
}

#goal-details {
  margin: auto;
  width: 60%;
}


@media (min-width:961px)  { 
  #goal-dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 100%;
  }
}

#goalDetails {
  display: grid;
  grid-template-columns: 1fr;
}

#goalDetails main {
  margin-bottom: 1em;
}


@media (min-width:961px)  { 
  #goalDetails {
    display: grid;
    grid-template-columns: 1fr;
  }
}
