body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#goal {
  display: grid;
  grid-template-columns: 1fr;
}

#goal main {
  margin-bottom: 1em;
}


@media (min-width:961px)  { 
  #goal {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

#goalDetails {
  display: grid;
  grid-template-columns: 1fr;
}

#goalDetails main {
  margin-bottom: 1em;
}


@media (min-width:961px)  { 
  #goalDetails {
    display: grid;
    grid-template-columns: 1fr;
  }
}
